.containerBanner {
    position: absolute;
    z-index: 10;
    top: 50px;
    color: #969696;
    opacity: 0;
  }

  .containerBanner h2 {
    color: #108DE8;
    font-weight: 400;
    font-size: 4rem;
    text-align: center;
  }

  .containerBanner h2 span {
    color: #FF7C4F;
  }